@charset "UTF-8";
@charset "UTF-8";
html, body
{
	height: 100%;
	margin: 0px;
	background-color: white;
}
#container
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    min-width: 1280px; 
}
#container #container2
{
    position: relative;
    background-color: white;
    height: 80%;
    top: 10%;
    margin-left: 12%;
    margin-right: 10%;
    
}
#container #container2 img
{
        float: left;
        max-height: 100%;
        max-width: 45%;
        height: auto;
        width: auto;    
        cursor: pointer;
        z-index: 10;
}
#comments
{
    background-color: white;
    display: inline; 
    float: right;
    width: 55%;
    height: 100%;
}
#comments div.desc
{
    position: relative;
    top: 5%;
    background-color: whitesmoke;
    width: 77%;
    overflow: auto;
    padding: 2%;
}
#comments div.content
{
    position: relative;
    top: 20%;
    background-color: lightgray;
    width: 80%;
    height: 60%;
    overflow: auto;
}
#post
{
    position: relative;
    width: 100%;
    background-color: red;
    height: 80px;
}
#who
{
    float: left;
    background-color: whitesmoke;
    height: 100%;
    width: 15%;
}
#who a img
{
    position: relative;
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 60%;
}
#what
{
    float: left;
    background-color: whitesmoke;
    height: 100%;
    width: 85%;
    overflow: auto;
}
