@charset "UTF-8";
@charset "UTF-8";
html, body
{
	height: 100%;
	margin: 0px;
	background-color: white;
}
#container
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    min-width: 1280px; 
}
#container #container2
{
    position: relative;
    background-color: white;
    height: 80%;
    top: 10%;
    margin-left: 12%;
    margin-right: 10%;
    
}
#container #container2 img
{
        float: left;
        max-height: 100%;
        max-width: 45%;
        height: auto;
        width: auto;    
        cursor: pointer;
        z-index: 10;
}
#comments
{
    background-color: white;
    display: inline; 
    float: right;
    width: 55%;
    height: 100%;
}
#comments div.desc
{
    position: relative;
    top: 5%;
    background-color: whitesmoke;
    width: 77%;
    overflow: auto;
    padding: 2%;
}
#comments div.content
{
    position: relative;
    top: 20%;
    background-color: lightgray;
    width: 80%;
    height: 60%;
    overflow: auto;
}
#post
{
    position: relative;
    width: 100%;
    background-color: red;
    height: 80px;
}
#who
{
    float: left;
    background-color: whitesmoke;
    height: 100%;
    width: 15%;
}
#who a img
{
    position: relative;
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 60%;
}
#what
{
    float: left;
    background-color: whitesmoke;
    height: 100%;
    width: 85%;
    overflow: auto;
}

                .preLoader
                {
                    position: fixed;
                    background-color: white;                   
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    top:0%;
                    left:0%;                
                }		
                .disapear
                {
                    
                    animation: vanish 1s forwards;
                    
                }
                @keyframes vanish {
                    100%{
                        opacity: 0;
                        display: none;
                        z-index: -2000;
                    }
                }

                .uploader
                {
                    position: fixed;
                    background-color: white;                   
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    top:0%;
                    left:0%;  
                    opacity: 0;
                    z-index: -2000;
                               
                }
                
                .apear_upload
                {
                    
                    animation: show 1s forwards;
                    
                }
                 @keyframes show {
                    100%{
                        opacity: 1;
                    	background-size: cover;
                    	display:block;
                        z-index: 2000;
                    }
                }
                .uploader label
                {
                	position: relative;
                	top: 60%;
                	font-size: x-large;
                }
                	.preLoader label
                {
                	position: relative;
                	color: cornflowerblue;
                	top: 25%;
                }
                
                #loader,
                #loader:after {
                  border-radius: 50%;
                  width: 5em;
                  height: 5em;
                }
                #loader {
                  margin: 60px auto;
                  font-size: 10px;
                  position: relative;
                  top:30%;
                  text-indent: -9999em;
                  border-top: 0.6em solid rgba(102,180,219, 0.2);
                  border-right: 0.6em solid rgba(102,180,219, 0.2);
                  border-bottom: 0.6em solid rgba(102,180,219, 0.2);
                  border-left: 0.6em solid #66b4db;
                  transform: translateZ(0);
                  animation: load8 1.1s infinite linear;
                }

                @keyframes load8 {
                  0% 
                  {
                    transform: rotate(0deg);
                  }
                  100% 
                  {
                    transform: rotate(360deg);
                  }
                }
                
                
